html,
body {
    margin: 0;
    padding: 0;
}

button {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: inherit;
    /* I think buttons inherit font-family by default */
    font-family: inherit;
    /* Why do you need this? */
    font-size: 100%;
    /* I think buttons inherit font-weight by default */
    font-weight: inherit;
    margin: 0;
    padding: 0;
    /* I think this is the default, so no need to set it */
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #f5f5f5;
    color: #4d4d4d;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* If you use the font property above why not adding the font-weight and line-height as well */
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto;
    max-width: 550px;
    min-width: 230px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    /* You could combine all the background properties in one property */
    background-image: url('../img/fogg-coffee-break.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    /* Why do you need a fixed height */
    height:400px;
    position: relative;
}

/* You shouldn't use an id to style an element */
#date {
    bottom: 25px;
    color: #558b30;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    left: 60px;
    /* Why do you need to position this absolutely? */
    position: absolute;
}

:focus {
    outline: 0;
}

/* Where is this class used? */
.hidden {
    display: none;
}

.todoapp {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                0 25px 50px 0 rgba(0, 0, 0, 0.1);
    margin: 130px 0 40px 0;
    position: relative;
}

.todoapp input::placeholder {
    color: #e6e6e6;
    font-style: italic;
    font-weight: 300;
}

.list-elements {
    margin: 10px 20px;
}

.new-todo {
    /* Removing the border and add it again? 🤔 */
    border: 0;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: 24px;
    font-weight: inherit;
    line-height: 1.4em;
    margin: 0;
    padding: 6px;
    position: relative;
    width: 100%;
}

.new-todo {
    background: rgb(249, 249, 249);
    border: none;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    padding: 16px 16px 16px 60px;
}

.main {
    border-top: 1px solid #e6e6e6;
    position: relative;
    /* Why is z-index needed here */
    z-index: 2;
}

.todo-list {
    /* I would always recommend to use this property on the li element directly,
    because there it is actually set, changed or removed */
    list-style: none;
    margin: 0;
    padding: 0;
}

.todo-list li {
    border-bottom: 1px solid #ededed;
    font-size: 24px;
    position: relative;
}

.todo-list li .done {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    bottom: 0;
    /* Why is this needed? */
    height: auto;
    margin: auto 0;
    /* Why do you need to position this absolute? */
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
}

.todo-list li .done + label {
    /* Why don't you use this directly in the HTML? */
    background-image: url('../img/circle.svg');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 35px;
}

.todo-list li .done:checked + label {
    /* Why don't you use this directly in the HTML? */
    background-image: url('../img/verified.svg');
    /* No need to repeat this property here, it is the same as above */
    background-size: 35px;
}

.todo-list li label {
    display: block;
    line-height: 1.2;
    padding: 15px 15px 15px 60px;
}

.todo-list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

.todo-list li .delete {
    bottom: 0;
    color: #cc9a9a;
    display: block;
    font-size: 30px;
    height: 40px;
    margin: auto 0;
    margin-bottom: 20px;
    /* Why do you need to position this absolute? */
    position: absolute;
    right: 10px;
    top: 0;
    width: 40px;
}

@media (max-width: 430px) {
    .header {
        height: 300px;
    }
}
